<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
           .display
           {
                        border-radius: 25px;
                        background: #73AD21;
                        padding: 20px;
                        width: 200px;
                        height: 50px;
                       font-family: "Comic Sans MS", cursive, sans-serif;

           }
           .Anchor
           {
                                    border-radius: 25px;
                                    background: #73AD21;
                                    padding: 20px;
                                    width: 200px;
                                    height: 50px;
                                    margin : 50px;
                                    text-decoration : none;
                                    font-family: "Comic Sans MS", cursive, sans-serif;

           }

    </style>

    <title>greetings application</title>
</head>
<body>

  <center>  <h1 style = 'color:green'> Greetings App </h1> <center>


    <div class = "display">

             <center> <h3 style = "color : green"> Greet Count: {{uniqueusers}}  </h3> </center>
    </div>
     <a href = '/hello' class = "Anchor" style = "color : green "> greet </a>



</body>
</html>