<!doctype html>
<html>

<head>
    <style>
 .display
 {

     border-radius: 10px;
     background: #73AD21;
     padding: 20px;
     width: 200px;
 }
 .radio-buttons
 {

     border-radius: 10px;
     background: #73AD21;
     padding: 20px;
     width: 200px;
}
.body
{
     border-style : outset;
     border-radius: 10px;
  background: white;
  animation: mymove 10s infinite;


}
@keyframes mymove {
  from {background-color: white}
  to {background-color: green;}
}
.input
{
  height:25px;
}
.form

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;

}

.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}
img{
  height: 70vh;
  width:70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

{




}


</style>

</head>
<body class = "body background-container stars twinkling clouds">
<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
<div class = "form">
    <center> <h1 style = " color :green "> Greetings App </h1>  </center>
    <form action="/greet" method="post" class = "form" >
        <input name="username" type="text" style="border-radius: 10px " class = "input">
        <input type="submit" >


        <div class= "radio-buttons" style =" color  : green">

            <br>
            <input type="radio" id="xhosa" name="language" value="xhosa">
            <label for="language">Xhosa</label><br>
            <input type="radio" id="shona" name="language" value="shona">
            <label for="language">Shona</label><br>
            <input type="radio" id="other" name="language" value="swahili">
            <label for="language">Swahili</label>
            <br>

        </div>

    </form>

</div >

<center style = "color : green "> <h1> Select a language </h1> </center>
<br>

<h1 style = "color:green"> Greet Count </h1>
<div class = display>
    <center style = "color : green "> <h1> {{ count  }} </h1> </center>
</div>
</body>

</html>